body {
    background: #ffffff;
    margin: 0;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.jumbotron {
    background-color: deeppink !important; 
    color: white;
    padding: 40px;
    text-align: center;
    margin-bottom: 5%;
}

.card {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}

.card-header {
    background: navy;
    color: white;
    padding: 15px 15px;
}

.card-header h2, .card-header h3 {
    margin: 0;
}

.card-body {
    padding: 15% 15%;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 14px;
    background-color: aliceblue;
}

.card-body ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.card-body ul li {
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.card-body a {
    text-decoration: none;
}

.icon {
    color: white;
    margin-right: 20px;
}

